In [17]:
import pandas as pd
orders = pd.read_csv('data/orders.csv')
print(orders.dtypes)
orders['order_date'] = pd.to_datetime(orders['order_date'])

orders

order_date      object
order_id         int64
warehouse_id     int64
user_id          int64
dtype: object

       order_date  order_id  warehouse_id  user_id
0      2017-08-01    910381            38    11473
1      2017-08-01    918510           276    52410
2      2017-08-01    909015           208    10155
3      2017-08-01    915064             2    60635
4      2017-08-01    914110            38    17185
...           ...       ...           ...      ...
269266 2017-08-30   1172063           121  1475682
269267 2017-08-30   1190480            46  1397795
269268 2017-08-30   1192942            94  1476069
269269 2017-08-30   1185630             2  1498906
269270 2017-08-30   1189001            38   321435

[269271 rows x 4 columns]

In [18]:
import chardet
# Определение кодировки
with open('data/products.csv', 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']

# Чтение файла с найденной кодировкой
products = pd.read_csv('data/products.csv', encoding=encoding)

print(encoding)
print(products.dtypes)

products

MacCyrillic
product_id     int64
product       object
category      object
dtype: object

,product_id,product,category
0,8,"Мороженое Коровка из Кореновки пломбир, ваниль...",Замороженная продукция
1,9,"Мороженое Коровка из Кореновки пломбир, шокола...",Замороженная продукция
2,12,"Мороженое Коровка из Кореновки пломбир, крем-б...",Замороженная продукция
3,16,"Мороженое Коровка из Кореновки пломбир, шокола...",Замороженная продукция
4,22,"Мороженое Коровка из Кореновки пломбир, двухсл...",Замороженная продукция
...,...,...,...
1735,3544,"Напиток Fanta (США) Peach, газированный, 355 мл",Безалкогольные напитки
1736,3548,"Молоко Свитлогорье ультрапастеризованное, 2,5%...",Молочная продукция
1737,3549,"Шоколад Ritter Sport молочный, лесной орех, 100 г",Кондитерские изделия
1738,3553,"Конфеты Золотой Степ с арахисом и карамелью, 50 г",Кондитерские изделия
1739,3554,"Вафли Вереск сливочно-ванильные, на сорбите, 1...",Специальное питание

In [19]:
warehouses = pd.read_csv('data/warehouses.csv')
print(warehouses.dtypes)

warehouses

city            object
warehouse_id     int64
address         object
dtype: object

               city  warehouse_id              address
0            Москва             1  Центральная, ул. 28
1   Санкт-Петербург             2   Молодежная, ул. 14
2            Москва             8     Школьная, ул. 21
3            Москва            10       Лесная, ул. 27
4   Санкт-Петербург            12    Советская, ул. 20
..              ...           ...                  ...
69           Москва           454     Трудовая, ул. 30
70           Москва           508      Клубная, ул. 27
71  Санкт-Петербург           694  Маяковского, ул. 20
72           Москва           808    Свердлова, ул. 18
73           Москва          1339       Фрунзе, ул. 11

[74 rows x 3 columns]

In [20]:
order_lines = pd.read_csv('data/order_lines.txt', delimiter='\t')
print(order_lines.dtypes)
order_lines

order_id       int64
product_id    object
price         object
quantity       int64
dtype: object

C:\Users\skobe\AppData\Local\Temp\ipykernel_1696\3309862485.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  order_lines = pd.read_csv('data/order_lines.txt', delimiter='\t')

        order_id product_id   price  quantity
0          47772       1929  110.25         1
1          47772       3785    16.5         1
2          47772       3967    39.0         1
3          47772       5837   36.75         1
4          56496       2591  171.75         1
...          ...        ...     ...       ...
975166    228485       1993  179.25         1
975167    228485       2334   71.25         1
975168    228485       2738   66.75         1
975169    228485       2928   96.75         1
975170    228485       3628    24.0         1

[975171 rows x 4 columns]

In [21]:
order_lines['product_id'] = pd.to_numeric(order_lines['product_id'], errors='coerce')
order_lines['price'] = pd.to_numeric(order_lines['price'], errors='coerce')
order_lines
# order_lines['price'] = order_lines['price'].str.replace(',', '.')

        order_id  product_id   price  quantity
0          47772      1929.0  110.25         1
1          47772      3785.0   16.50         1
2          47772      3967.0   39.00         1
3          47772      5837.0   36.75         1
4          56496      2591.0  171.75         1
...          ...         ...     ...       ...
975166    228485      1993.0  179.25         1
975167    228485      2334.0   71.25         1
975168    228485      2738.0   66.75         1
975169    228485      2928.0   96.75         1
975170    228485      3628.0   24.00         1

[975171 rows x 4 columns]

In [22]:


rows_with_na_product_id = order_lines.index[order_lines['product_id'].isna()]
print(rows_with_na_product_id)
raw_na_rows_product_id = pd.read_csv('data/order_lines.txt', delimiter='\t').iloc[rows_with_na_product_id]
print(raw_na_rows_product_id)

rows_with_na_price = order_lines.index[order_lines['price'].isna()]
print(rows_with_na_price)
raw_na_rows_price = pd.read_csv('data/order_lines.txt', delimiter='\t').iloc[rows_with_na_price]
print(raw_na_rows_price)
raw_na_rows_price['price'] = raw_na_rows_price['price'].str.replace(',', '.')
# Заменяем неправильные значения в order_lines_correct на правильные из order_lines_incorrect
order_lines.loc[rows_with_na_price, 'price'] = raw_na_rows_price['price'].astype(float)
order_lines.iloc[rows_with_na_price]

Index([397378], dtype='int64')

C:\Users\skobe\AppData\Local\Temp\ipykernel_1696\3246021085.py:3: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_na_rows_product_id = pd.read_csv('data/order_lines.txt', delimiter='\t').iloc[rows_with_na_product_id]

        order_id product_id  price  quantity
397378   1006273    error:)  112.5         1
Index([611227], dtype='int64')
        order_id product_id price  quantity
611227   1059446       7048  16,5         1

C:\Users\skobe\AppData\Local\Temp\ipykernel_1696\3246021085.py:8: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_na_rows_price = pd.read_csv('data/order_lines.txt', delimiter='\t').iloc[rows_with_na_price]

        order_id  product_id  price  quantity
611227   1059446      7048.0   16.5         1

In [23]:

order_lines = order_lines.dropna(subset=['product_id'])
order_lines['product_id'] = order_lines['product_id'].astype(int)
order_lines

C:\Users\skobe\AppData\Local\Temp\ipykernel_1696\834135337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_lines['product_id'] = order_lines['product_id'].astype(int)

        order_id  product_id   price  quantity
0          47772        1929  110.25         1
1          47772        3785   16.50         1
2          47772        3967   39.00         1
3          47772        5837   36.75         1
4          56496        2591  171.75         1
...          ...         ...     ...       ...
975166    228485        1993  179.25         1
975167    228485        2334   71.25         1
975168    228485        2738   66.75         1
975169    228485        2928   96.75         1
975170    228485        3628   24.00         1

[975170 rows x 4 columns]

In [24]:
orders_merged = pd.merge(orders, order_lines, on='order_id', how='left')
orders_merged = pd.merge(orders_merged, products, on='product_id', how='left')
orders_merged = pd.merge(orders_merged, warehouses, on='warehouse_id', how='left')
orders_merged.dtypes

order_date      datetime64[ns]
order_id                 int64
warehouse_id             int64
user_id                  int64
product_id             float64
price                  float64
quantity               float64
product                 object
category                object
city                    object
address                 object
dtype: object

In [39]:
orders_merged

,order_date,order_id,warehouse_id,user_id,product_id,price,quantity,product,category,city,address
0,2017-08-01,910381,38,11473,5570.0,44.25,1.0,"Пирожное Kinder Pingui кокос, бисквитное, 30 г",Детское питание,Санкт-Петербург,"Комсомольская, ул. 10"
1,2017-08-01,918510,276,52410,9845.0,54.00,1.0,"Сахар Русский белый, кусковой, 500 г",Бакалея,Москва,"Сосновая, ул. 21"
2,2017-08-01,918510,276,52410,19071.0,44.25,1.0,Сыр Бри Самокат 180 г,Сыры,Москва,"Сосновая, ул. 21"
3,2017-08-01,909015,208,10155,451.0,83.25,1.0,"Чайный напиток АйсКро Нечайный чай, апельсин, ...",Чай,Санкт-Петербург,"Подгорная, ул. 23"
4,2017-08-01,915064,2,60635,1054.0,69.75,1.0,"Молоко Домик в деревне отборное, пастеризованн...",Молочная продукция,Санкт-Петербург,"Молодежная, ул. 14"
...,...,...,...,...,...,...,...,...,...,...,...
1011648,2017-08-30,1172063,121,1475682,NaN,NaN,NaN,NaN,NaN,Санкт-Петербург,"Озерная, ул. 25"
1011649,2017-08-30,1190480,46,1397795,NaN,NaN,NaN,NaN,NaN,Москва,"Северная, ул. 22"
1011650,2017-08-30,1192942,94,1476069,NaN,NaN,NaN,NaN,NaN,Санкт-Петербург,"Нагорная, ул. 20"
1011651,2017-08-30,1185630,2,1498906,NaN,NaN,NaN,NaN,NaN,Санкт-Петербург,"Молодежная, ул. 14"
1011652,2017-08-30,1189001,38,321435,NaN,NaN,NaN,NaN,NaN,Санкт-Петербург,"Комсомольская, ул. 10"

In [25]:
# Преобразование дат в формат datetime
# Фильтрация данных по заданным условиям
filtered_orders = orders_merged[
    (orders_merged['order_date'].dt.month == 8) &
    (orders_merged['order_date'].dt.day >= 1) &
    (orders_merged['order_date'].dt.day <= 15) &
    (orders_merged['product'] != 'Корм Kitekat для кошек, с кроликом в соусе, 85 г') &
    (orders_merged['category'] == 'Продукция для животных')
]
filtered_orders

,order_date,order_id,warehouse_id,user_id,product_id,price,quantity,product,category,city,address
8,2017-08-01,915064,2,60635,2113.0,22.50,1.0,"Корм Nature’s Table для кошек, с курицей в соу...",Продукция для животных,Санкт-Петербург,"Молодежная, ул. 14"
12,2017-08-01,914110,38,17185,928.0,45.00,1.0,"Корм Cesar для собак, паучи из тушеной телятин...",Продукция для животных,Санкт-Петербург,"Комсомольская, ул. 10"
28,2017-08-01,904227,35,21089,2113.0,22.50,1.0,"Корм Nature’s Table для кошек, с курицей в соу...",Продукция для животных,Санкт-Петербург,"Луговая, ул. 15"
33,2017-08-01,914793,32,69964,1832.0,36.75,1.0,"Корм Whiskas для кошек, рагу с кроликом и инде...",Продукция для животных,Санкт-Петербург,"Полевая, ул. 27"
51,2017-08-01,903738,54,45093,2368.0,65.25,2.0,"Корм Cesar для собак, паучи ягненок с овощами,...",Продукция для животных,Санкт-Петербург,"Степная, ул. 27"
...,...,...,...,...,...,...,...,...,...,...,...
525783,2017-08-15,1032050,174,308564,3947.0,18.75,1.0,"Лакомство Dreamies для кошек, с лососем, 60 г",Продукция для животных,Санкт-Петербург,"Дорожная, ул. 19"
525788,2017-08-15,1033681,98,309418,4009.0,66.75,1.0,"Лакомство Dreamies для кошек, с курицей, 60 г",Продукция для животных,Санкт-Петербург,"Пушкина, пер. 7"
525800,2017-08-15,1040271,208,1194749,3947.0,18.75,1.0,"Лакомство Dreamies для кошек, с лососем, 60 г",Продукция для животных,Санкт-Петербург,"Подгорная, ул. 23"
525806,2017-08-15,1049350,24,304226,3638.0,45.75,1.0,"Корм Whiskas для кошек, с курицей в желе, 85 г",Продукция для животных,Москва,"Заречная, ул. 24"
525809,2017-08-15,1040092,264,309421,2864.0,59.25,1.0,"Корм Friskies для кошек, с курицей в подливе, ...",Продукция для животных,Санкт-Петербург,"Западная, ул. 27"

In [26]:
# Группировка и фильтрация пользователей, которые купили 2 или более корма для животных
user_purchases = filtered_orders.groupby('user_id').filter(lambda x: x['product_id'].nunique() >= 2)
user_purchases

,order_date,order_id,warehouse_id,user_id,product_id,price,quantity,product,category,city,address
8,2017-08-01,915064,2,60635,2113.0,22.50,1.0,"Корм Nature’s Table для кошек, с курицей в соу...",Продукция для животных,Санкт-Петербург,"Молодежная, ул. 14"
51,2017-08-01,903738,54,45093,2368.0,65.25,2.0,"Корм Cesar для собак, паучи ягненок с овощами,...",Продукция для животных,Санкт-Петербург,"Степная, ул. 27"
58,2017-08-01,896239,163,17138,941.0,34.50,1.0,"Корм Felix для кошек, аппетитные кусочки, с ку...",Продукция для животных,Санкт-Петербург,"Дружбы, ул. 14"
114,2017-08-01,908993,2,60635,4264.0,194.25,1.0,"Корм для котят Whiskas рагу с ягнёнком, 85 г",Продукция для животных,Санкт-Петербург,"Молодежная, ул. 14"
140,2017-08-01,914973,38,9820,928.0,45.00,1.0,"Корм Cesar для собак, паучи из тушеной телятин...",Продукция для животных,Санкт-Петербург,"Комсомольская, ул. 10"
...,...,...,...,...,...,...,...,...,...,...,...
525610,2017-08-15,1036006,43,303415,4009.0,66.75,1.0,"Лакомство Dreamies для кошек, с курицей, 60 г",Продукция для животных,Санкт-Петербург,"Гагарина, ул. 21"
525735,2017-08-15,1044015,30,1193774,1048.0,34.50,1.0,"Корм Felix для кошек, сухой, двойная вкуснятин...",Продукция для животных,Санкт-Петербург,"Ленина, ул. 30"
525754,2017-08-15,1051067,330,304406,2020.0,93.75,1.0,"Корм Whiskas для кошек, паштет курица с индейк...",Продукция для животных,Санкт-Петербург,"Мичурина, ул. 9"
525782,2017-08-15,1032050,174,308564,928.0,45.00,1.0,"Корм Cesar для собак, паучи из тушеной телятин...",Продукция для животных,Санкт-Петербург,"Дорожная, ул. 19"
525783,2017-08-15,1032050,174,308564,3947.0,18.75,1.0,"Лакомство Dreamies для кошек, с лососем, 60 г",Продукция для животных,Санкт-Петербург,"Дорожная, ул. 19"

In [27]:
# Выгрузка списка user_id в файл .xls
user_ids = user_purchases[['user_id']].drop_duplicates()
user_ids.to_excel('data/user_ids_august_1_15.xlsx', index=False)

In [295]:
import pandas as pd
from sqlalchemy import create_engine

# Создание подключения к базе данных PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/testovoe_samokat')

# Загрузка данных в таблицы PostgreSQL
orders.to_sql('orders', engine, if_exists='replace', index=False)
products.to_sql('products', engine, if_exists='replace', index=False)
order_lines.to_sql('order_lines', engine, if_exists='replace', index=False)
warehouses.to_sql('warehouses', engine, if_exists='replace', index=False)

print("Data loaded successfully into PostgreSQL")

Data loaded successfully into PostgreSQL

In [28]:
%%sql
WITH first_orders AS (
    SELECT
        o.user_id,
        MIN(o.order_date) AS first_order_date,
        o.warehouse_id,
        o.order_id
    FROM
        orders o
            JOIN
        warehouses w ON o.warehouse_id = w.warehouse_id
    WHERE
        w.city = 'Санкт-Петербург'
      AND o.order_date BETWEEN '2017-08-15' AND '2017-08-30'
    GROUP BY
        o.user_id, o.warehouse_id, o.order_id
),
     first_order_lines AS (
         SELECT
             ol.product_id
         FROM
             order_lines ol
                 JOIN
             first_orders fo ON ol.order_id = fo.order_id
     )
SELECT
    p.product,
    COUNT(*) AS product_count
FROM
    first_order_lines fol
        JOIN
    products p ON fol.product_id = p.product_id
GROUP BY
    p.product
ORDER BY
    product_count DESC
LIMIT 5;

                                             product  product_count
0   Корм Kitekat для кошек, с кроликом в соусе, 85 г           3445
1  Йогурт Чудо питьевой, с вишней и черешней, 2,4...           2510
2  Крабовые палочки Бухта Изобилия имитация, замо...           2360
3  Икра трески Санта Бремор Pate, деликатесная, 90 г           2240
4  Корм Cesar для собак, паучи из тушеной телятин...           2058

In [30]:
# Фильтруем данные для получения первых заказов в Санкт-Петербурге за август
first_orders = orders[(orders['order_date'] >= '2017-08-15') & (orders['order_date'] <= '2017-08-30')]
first_orders = pd.merge(first_orders, warehouses, on='warehouse_id', how='inner')
first_orders = first_orders[first_orders['city'] == 'Санкт-Петербург']

# Группируем и считаем количество продуктов
first_order_lines = pd.merge(first_orders, order_lines, on='order_id', how='inner')
first_order_lines = first_order_lines.groupby('product_id')['product_id'].count().reset_index(name='product_count')
first_order_lines = pd.merge(first_order_lines, products, on='product_id', how='left')

# Сортируем и выводим топ-5 продуктов
top_products = first_order_lines.sort_values(by='product_count', ascending=False).head(5)
top_products

,product_id,product_count,product,category
1379,3107,3447,"Корм Kitekat для кошек, с кроликом в соусе, 85 г",Продукция для животных
1270,2870,2513,"Йогурт Чудо питьевой, с вишней и черешней, 2,4...",Молочная продукция
745,1687,2362,"Крабовые палочки Бухта Изобилия имитация, замо...",Рыбная гастрономия
1733,3950,2241,"Икра трески Санта Бремор Pate, деликатесная, 90 г",Рыбная гастрономия
402,928,2059,"Корм Cesar для собак, паучи из тушеной телятин...",Продукция для животных

In [38]:
%%sql
WITH first_orders AS (
    SELECT
        user_id,
        MIN(order_date) AS first_order_date
    FROM
        orders
    WHERE
        order_date BETWEEN '2017-08-15' AND '2017-08-30'
    GROUP BY
        user_id
)

SELECT
    fo.user_id,
    fo.first_order_date,
    w.city AS warehouse_city
FROM
    first_orders fo
    JOIN orders o ON fo.user_id = o.user_id AND fo.first_order_date = o.order_date
    JOIN warehouses w ON o.warehouse_id = w.warehouse_id
WHERE
    w.city = 'Санкт-Петербург'
ORDER BY
    fo.first_order_date;

       user_id            first_order_date   warehouse_city
0        10997  2017-08-15 00:00:00.000000  Санкт-Петербург
1      1018237  2017-08-15 00:00:00.000000  Санкт-Петербург
2        17185  2017-08-15 00:00:00.000000  Санкт-Петербург
3        11951  2017-08-15 00:00:00.000000  Санкт-Петербург
4        26981  2017-08-15 00:00:00.000000  Санкт-Петербург
...        ...                         ...              ...
33951   307144  2017-08-30 00:00:00.000000  Санкт-Петербург
33952   316949  2017-08-30 00:00:00.000000  Санкт-Петербург
33953   321780  2017-08-30 00:00:00.000000  Санкт-Петербург
33954   321344  2017-08-30 00:00:00.000000  Санкт-Петербург
33955   321781  2017-08-30 00:00:00.000000  Санкт-Петербург

[33956 rows x 3 columns]

In [35]:

# Фильтруем первые заказы пользователей за указанный период
first_orders = orders[(orders['order_date'] >= '2017-08-15') & (orders['order_date'] <= '2017-08-30')]
first_orders = first_orders.groupby('user_id')['order_date'].min().reset_index()
first_orders.rename(columns={'order_date': 'first_order_date'}, inplace=True)

# Объединяем с информацией о складах
first_orders = pd.merge(first_orders, orders, on='user_id', how='inner')
first_orders = pd.merge(first_orders, warehouses, on='warehouse_id', how='inner')

# Фильтруем по городу Санкт-Петербург
first_orders_spb = first_orders[first_orders['city'] == 'Санкт-Петербург']

# Группируем по пользователю
first_orders_spb = first_orders_spb.groupby('user_id').first().reset_index()

# Выводим результаты
result = first_orders_spb[['user_id', 'first_order_date', 'city']].sort_values(by='first_order_date')
result

       user_id first_order_date             city
0            2       2017-08-15  Санкт-Петербург
15894   203980       2017-08-15  Санкт-Петербург
4765     34807       2017-08-15  Санкт-Петербург
9011     86097       2017-08-15  Санкт-Петербург
15890   203923       2017-08-15  Санкт-Петербург
...        ...              ...              ...
4248     28751       2017-08-30  Санкт-Петербург
24579   296129       2017-08-30  Санкт-Петербург
29599   318358       2017-08-30  Санкт-Петербург
23629   288525       2017-08-30  Санкт-Петербург
25168   300702       2017-08-30  Санкт-Петербург

[32049 rows x 3 columns]